<div class="home">
    <div class="game" joyrideStep="firstStep" [title]="steps.title.firstStep" [text]="steps.content.firstStep">
        <div class="game__row game__row--first">
            <div class="game__row__cell" *ngFor="let building of (userBuildings$ | async)?.nodes | keyvalue | slice:0:7">
                <div class="building" [ngClass]="classStyler(building['value'])">

                </div>
            </div>
        </div>
        <div class="game__row game__row--second">
            <div class="game__row__cell" *ngFor="let building of (userBuildings$ | async)?.nodes | keyvalue | slice:7:14">{{ building['value']['node'] }} {{ building['value']['type'] }}</div>
        </div>
        <div class="game__row game__row--three">
            <div class="game__row__cell" *ngFor="let building of (userBuildings$ | async)?.nodes | keyvalue | slice:14:15">{{ building['value']['node'] }} {{ building['value']['type'] }}</div>
        </div>
        <div class="game__row game__row--four">
            <div class="game__row__cell" *ngFor="let building of (userBuildings$ | async)?.nodes | keyvalue | slice:15:22">{{ building['value']['node'] }} {{ building['value']['type'] }}</div>
        </div>
        <div class="game__row game__row--five">
            <div class="game__row__cell" *ngFor="let building of (userBuildings$ | async)?.nodes | keyvalue | slice:22">{{ building['value']['node'] }} {{ building['value']['type'] }}</div>
        </div>
    </div>
</div>
<app-tour
    *ngIf="(user$ | async)"
    [user]="(user$ | async)"
    (startTour)="onStartTour()"
></app-tour>