<div class="home">
    <div class="game">
        <div class="game__row game__row--first">
            <div class="game__row__cell"
                *ngFor="let building of (userBuildings$ | async)?.nodes | keyvalue | slice:0:7">
                <app-building [building]="building" (modalOpen)="onModalOpen($event)"></app-building>
            </div>
        </div>
        <div class="game__row game__row--second">
            <div class="game__row__cell"
                *ngFor="let building of (userBuildings$ | async)?.nodes | keyvalue | slice:7:14">
                <app-building [building]="building" (modalOpen)="onModalOpen($event)"></app-building>
            </div>
        </div>
        <div class="game__row game__row--three">
            <div class="game__row__cell"
                *ngFor="let building of (userBuildings$ | async)?.nodes | keyvalue | slice:14:15">
                <app-building [building]="building" (modalOpen)="onModalOpen($event)"></app-building>
            </div>
        </div>
        <div class="game__row game__row--four">
            <div class="game__row__cell"
                *ngFor="let building of (userBuildings$ | async)?.nodes | keyvalue | slice:15:22">
                <app-building [building]="building" (modalOpen)="onModalOpen($event)"></app-building>
            </div>
        </div>
        <div class="game__row game__row--five">
            <div class="game__row__cell" *ngFor="let building of (userBuildings$ | async)?.nodes | keyvalue | slice:22">
                <app-building [building]="building" (modalOpen)="onModalOpen($event)"></app-building>
            </div>
        </div>
    </div>
</div>
<app-tour *ngIf="(user$ | async)" [user]="(user$ | async)" (newPlayerBonus)="onNewPlayerBonus($event)"
    (tourQuestsIntro)="onTourQuestsIntro()"></app-tour>