rules_version = '2';
service cloud.firestore {
    match /databases/{database}/documents {
            // True if the user is signed in or the requested data is 'public'
            function signedInOrPublic() {
                return request.auth.uid != null || resource.data.visibility == 'public';
            }

            match /userCities/{userId} {
                allow read: if request.auth.uid == userId;
            }

            match /userQuests/{userId} {
                allow read: if request.auth.uid == userId;
            }

            match /userTasks/{userId} {
                allow create, update: if request.auth.uid == userId;
            }

            match /users/{userId} {
                allow read: if request.auth.uid == userId;
            }

            match /users/{userId}/triggers/{document=**} {
                allow create, read, update: if request.auth.uid == userId;
            }
            match /users/{userId}/triggersStatus/{document=**} {
                allow create, read, update: if request.auth.uid == userId;
            }

            match /displayNames/{document=**} {
                allow read: if signedInOrPublic();
            }
    }
}