// define 3 theme color
// mat-palette accepts $palette-name, main, lighter and darker variants
// https://material.io/tools/color/#!/?view.left=0&view.right=0&primary.color=004D40&secondary.color=4CAF50

$afmnps: (
    50: #e7e8e9,
    100: #c4c7c9,
    200: #9da1a5,
    300: #757b81,
    400: #585f66,
    500: #3a434b,
    600: #343d44,
    700: #2c343b,
    800: #252c33,
    900: #181e23,
    A100: #6aacff,
    A200: #3790ff,
    A400: #0474ff,
    A700: #0068ea,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #ffffff,
        400: #ffffff,
        500: #ffffff,
        600: #ffffff,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff,
        A100: #000000,
        A200: #000000,
        A400: #ffffff,
        A700: #ffffff
    )
);

$afmnps-accent: (
    50: #fef4e5,
    100: #fce4bd,
    200: #fbd391,
    300: #f9c165,
    400: #f7b344,
    500: #f6a623,
    600: #f59e1f,
    700: #f3951a,
    800: #f28b15,
    900: #ef7b0c,
    A100: #ffffff,
    A200: #fff1e6,
    A400: #ffd5b3,
    A700: #ffc79a,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #000000,
        500: #000000,
        600: #000000,
        700: #000000,
        800: #000000,
        900: #000000,
        A100: #000000,
        A200: #000000,
        A400: #000000,
        A700: #000000
    )
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$afmnps-primary: mat-palette($afmnps, 500, 400, 800);
$afmnps-accent: mat-palette($afmnps-accent, 500, 400, 800);
$afmnps-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$afmnps-theme: mat-dark-theme(
    $afmnps-primary,
    $afmnps-accent,
    $afmnps-warn
);