<div class="theme-wrapper default-theme">
    <mat-sidenav-container class="sidenav-container">
        <mat-sidenav #sidenav mode="push" class="sidenav">
            <div class="sidenav__branding">
                <mat-icon class="sidenav__logo">money</mat-icon>
                <h4 class="sidenav__title">angular-firebase-material-ngrx-pwa-starter</h4>
            </div>
            <mat-nav-list>
                <a mat-list-item *ngFor="let item of navigationSideMenu" (click)="sidenav.close()"
                    [routerLink]="[item.link]" routerLinkActive="active">
                    {{ item.label | translate }}
                </a>
                <a mat-list-item href="https://github.com/Flignats/angular-firebase-material-ngrx-pwa-starter"
                    target="_blank">
                    Github
                </a>
            </mat-nav-list>
        </mat-sidenav>

        <div class="view">
            <div class="toolbar">
                <mat-toolbar color="primary">
                    <button mat-icon-button aria-label="sidenav open/close button" (click)="sidenav.open()">
                        <mat-icon>menu</mat-icon>
                    </button>
                </mat-toolbar>
            </div>

            <div class="content">
                <router-outlet #o="outlet"></router-outlet>
            </div>

            <div class="footer">
                Footer
            </div>
        </div>
    </mat-sidenav-container>
</div>