.theme-wrapper,
.sidenav-container {
    height: 100%;
    width: 100%;
}

.sidenav {
    width: 200px;
}

.sidenav__branding {
    width: 100%;
    text-align: center;
    padding-top: 1em;
}

.sidenav__logo {
    font-size: 108px;
    height: 108px;
    width: 108px;
}

.view {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
}

.toolbar {
    box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
    display: flex;
    height: 64px;
    position: fixed;
    width: 100%;
    z-index: 10;

    .mat-toolbar {
        background-image: linear-gradient(#3a434b 60px, #181e23 60px);
    }
}

.content {
    flex: 1 0 auto;
    overflow: auto;
    &::-webkit-scrollbar {
        width: 9px;
        height: 9px;
        background-color: #3a434b;
    }
    
    &::-webkit-scrollbar-thumb {
        background-color: #181e23;
        background-clip: padding-box;
    }

    &::-webkit-scrollbar-corner {
        background: #f6a623;
    }
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr 64px;
    grid-template-areas: "outlet sidebar" "footer sidebar";
    height: calc(100vh - 64px);
    margin-top: 64px;

    &.grid-container--about {
        grid-template-columns: 1fr 200px;
    }
    &.grid-container--home {
        grid-template-columns: 1200px 1fr;
    }
    &.grid-container--settings {
        grid-template-columns: 1fr 200px;
    }
    &.grid-container--world {
        grid-template-columns: 1fr 200px;
    }
}

.footer {
    background-color: #252c33;
    border-top: 4px solid #181e23;
    grid-area: footer;
    flex: 0 0 auto;
    padding: 0 15px;
    text-align: center;
    height: 60px;
    overflow: hidden;

    .mat-list-base .mat-list-item, .mat-list-base .mat-list-option {
        border: 1px solid transparent;
        margin: 0 0.3em;
        height: 38px;
        width: auto;
        
        background-color: #181e23;
        border-radius: 0 0 3px 3px;

        &.active {
            color: #f6a623;
            border-left-color: #f6a623;
            border-right-color: #f6a623;
            border-bottom-color: #f6a623;
        }
    }

    .mat-list-base {
        display: flex;
        justify-content: center;
        padding: 0;
    }
}

.sidebar { 
    background-color: #252c33;
    border-left: 4px solid #181e23;
    grid-area: sidebar;

    .sidebar__user-city {
        box-sizing: border-box;
        min-height: 150px;
        min-width: 150px;
        width: 100%;
        background: rgba(0,0,0, 0.4);
        border: 6px solid #181e23;
        border-image: repeating-linear-gradient(45deg, rgba(246, 166, 35, 0.4), rgba(246, 166, 35, 0.4) 1px, #181e23 2px, #181e23 10px) 6;

        display: flex;
        justify-content: center;
        align-items: center;

        > div {
            box-sizing: border-box;
            border: 2px solid rgba(246, 166, 35, 0.4);
            height: 138px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        // TODO: Remove temp icon
        .mat-icon { font-size: 72px; height: 72px; width: 72px; }
    }

    .sidebar__tabs {
        .mat-tab-label {
            height: auto;
            padding: 0;
            min-width: 0;
        }
    }
}

.outlet { grid-area: outlet; }

::ng-deep {
    .sidebar__user-tasks {
        .user-task {
            .mat-progress-bar.mat-accent .mat-progress-bar-buffer,
            .mat-progress-bar.mat-accent .mat-progress-bar-buffer {
                background-color: #252c33;
            }
        }
    }

    .sidebar__tabs {
        margin-top : 4px;
        .mat-tab-label {
            background-color: #181e23;
            height: auto;
            padding: 0;
            min-width: 0;
            flex: 1;
        }

        .mat-tab-group.mat-primary .mat-ink-bar,
        .mat-tab-nav-bar.mat-primary .mat-ink-bar {
            background-color: #f6a623;
        }
    }
}