.building {
    display: inline-block;
    height: 120px;
    width: 120px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-image: url('../../../../assets/shared/main.png');

    &.home_node_main {
        background-image: none;
    }
}

.arsenal_advanced {width:120px; height:120px; background-position: -1px -1px}
.arsenal_basic {width:120px; height:120px; background-position: -1px -123px}
.arsenal_intermediate {width:120px; height:120px; background-position: -1px -245px}
.assembly_1 {width:120px; height:120px; background-position: -1px -367px}
.assembly_10 {width:120px; height:120px; background-position: -1px -489px}
.assembly_2 {width:120px; height:120px; background-position: -1px -611px}
.assembly_3 {width:120px; height:120px; background-position: -1px -733px}
.assembly_4 {width:120px; height:120px; background-position: -1px -855px}
.assembly_5 {width:120px; height:120px; background-position: -123px -1px}
.assembly_6 {width:120px; height:120px; background-position: -123px -123px}
.assembly_7 {width:120px; height:120px; background-position: -123px -245px}
.assembly_8 {width:120px; height:120px; background-position: -123px -367px}
.assembly_9 {width:120px; height:120px; background-position: -123px -489px}
.flight_tower_advanced {width:120px; height:120px; background-position: -123px -611px}
.flight_tower_basic {width:120px; height:120px; background-position: -123px -733px}
.flight_tower_intermediate {width:120px; height:120px; background-position: -123px -855px}
.home_1 {width:120px; height:120px; background-position: -245px -1px}
.home_10 {width:120px; height:120px; background-position: -245px -123px}
.home_2 {width:120px; height:120px; background-position: -245px -245px}
.home_3 {width:120px; height:120px; background-position: -245px -367px}
.home_4 {width:120px; height:120px; background-position: -245px -489px}
.home_5 {width:120px; height:120px; background-position: -245px -611px}
.home_6 {width:120px; height:120px; background-position: -245px -733px}
.home_7 {width:120px; height:120px; background-position: -245px -855px}
.home_8 {width:120px; height:120px; background-position: -367px -1px}
.home_9 {width:120px; height:120px; background-position: -367px -123px}
.home_barracks_archer_advanced {width:120px; height:120px; background-position: -367px -245px}
.home_barracks_archer_basic {width:120px; height:120px; background-position: -367px -367px}
.home_barracks_archer_intermediate {width:120px; height:120px; background-position: -367px -489px}
.home_barracks_magic_advanced {width:120px; height:120px; background-position: -367px -611px}
.home_barracks_magic_basic {width:120px; height:120px; background-position: -367px -733px}
.home_barracks_magic_intermediate {width:120px; height:120px; background-position: -367px -855px}
.home_barracks_resource_advanced {width:120px; height:120px; background-position: -489px -1px}
.home_barracks_resource_basic {width:120px; height:120px; background-position: -489px -123px}
.home_barracks_resource_intermediate {width:120px; height:120px; background-position: -489px -245px}
.home_barracks_sword_advanced {width:120px; height:120px; background-position: -489px -367px}
.home_barracks_sword_basic {width:120px; height:120px; background-position: -489px -489px}
.home_barracks_sword_intermediate {width:120px; height:120px; background-position: -489px -611px}
.home_furnace_1 {width:120px; height:120px; background-position: -489px -733px}
.home_furnace_10 {width:120px; height:120px; background-position: -489px -855px}
.home_furnace_2 {width:120px; height:120px; background-position: -611px -1px}
.home_furnace_3 {width:120px; height:120px; background-position: -611px -123px}
.home_furnace_4 {width:120px; height:120px; background-position: -611px -245px}
.home_furnace_5 {width:120px; height:120px; background-position: -611px -367px}
.home_furnace_6 {width:120px; height:120px; background-position: -611px -489px}
.home_furnace_7 {width:120px; height:120px; background-position: -611px -611px}
.home_furnace_8 {width:120px; height:120px; background-position: -611px -733px}
.home_furnace_9 {width:120px; height:120px; background-position: -611px -855px}
.home_node_build {
    width: 120px;
    height: 120px;
    background-position: -733px -1px;
    opacity: 0.35;
}
.home_node_lock {
    width:120px;
    height:120px;
    background-position: -733px -123px;
    opacity: 0.35;
}
.home_thinktank_1 {width:120px; height:120px; background-position: -733px -245px}
.home_thinktank_10 {width:120px; height:120px; background-position: -733px -367px}
.home_thinktank_2 {width:120px; height:120px; background-position: -733px -489px}
.home_thinktank_3 {width:120px; height:120px; background-position: -733px -611px}
.home_thinktank_4 {width:120px; height:120px; background-position: -733px -733px}
.home_thinktank_5 {width:120px; height:120px; background-position: -733px -855px}
.home_thinktank_6 {width:120px; height:120px; background-position: -855px -1px}
.home_thinktank_7 {width:120px; height:120px; background-position: -855px -123px}
.home_thinktank_8 {width:120px; height:120px; background-position: -855px -245px}
.home_thinktank_9 {width:120px; height:120px; background-position: -855px -367px}
.warehouse_advanced {width:120px; height:120px; background-position: -855px -489px}
.warehouse_basic {width:120px; height:120px; background-position: -855px -611px}
.warehouse_intermediate {width:120px; height:120px; background-position: -855px -733px}
.watchtower_1 {width:120px; height:120px; background-position: -855px -855px}
.watchtower_2 {width:120px; height:120px; background-position: -977px -1px}
.watchtower_3 {width:120px; height:120px; background-position: -977px -123px}
.watchtower_4 {width:120px; height:120px; background-position: -977px -245px}
.watchtower_5 {width:120px; height:120px; background-position: -977px -367px}
.watchtower_6 {width:120px; height:120px; background-position: -977px -489px}
.watchtower_7 {width:120px; height:120px; background-position: -977px -611px}