.building {
    display: inline-block;
    height: 120px;
    width: 120px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-image: url('../../../../assets/shared/main.png');

    &.home_node_main {
        background-image: none;
    }
}
