:host {
    width: 100%;
}

.user-task {
    background: rgba(0,0,0, 0.4);
    box-sizing: border-box;
    border: 2px solid #181e23;
    width: 100%;
    min-height: 42px;
    display: flex;
    align-items: center;
    padding: 0.3em;
    position: relative;

    > div {
        flex: 1;
        position: relative;

        div {
            position: absolute;
            z-index: 1;
            color: #181e23;
            font-size: 10px;
            text-align: center;
            top: 6px;
            font-weight: bold;
            left: 8px;
            font-style: italic;
        }

        .mat-progress-bar {
            height: 24px;
        }
    }

    .mat-icon {
        font-size: 24px;
        height: 24px;
        width: 24px;
        position: relative;
        top: 3px;
        color: rgba(246, 166, 35, 0.4);
        margin-right: 0.4em;
    }
}